  <div class="card">
    <img class="card-img-top" src="{{this.pic_url}}">
    <div class="card-body">
      <h5 class="card-title">{{this.drink_name}}</h5>
      <div class="dropdown" id="{{this.drink_name}}">
        <button class="btn btn-danger dropdown-toggle mr-4" type="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">Selection</button>
        <div class="dropdown-menu liquorOptions"  id="{{this.id}}">
        </div>
      </div>
    </div>
  </div>