<nav class="mb-1 navbar navbar-expand-lg navbar-dark orange lighten-1">

  <a class="navbar-brand" href="#">

  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="basicExampleNav">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="../pos">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../inventory">Inventory</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../orders">Orders</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../drinks">Drinks</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">New Item</a>

        <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="../drink/add">Add Drink</a>
          <a class="dropdown-item" href="../scanner">Add Inventory</a>
        </div>
      </li>

    </ul>

    {{#if user}}
      <div class="mr-3">{{user.userName}}</div>
      <form action="/api/logout" method="get">
        <button class="mr-3" type="submit">Logout</button>
      </form>
    {{else}}
      <form action="/login" method="get">
        <button class="mr-3" type="submit">Login</button>
      </form>
      <form action="/register" method="get">
        <button class="mr-3" type="submit">Register</button>
      </form>
    {{/if}}

    <form class="form-inline">
      <div class="md-form my-0">
        <input class="form-control mr-sm-2" id="search" type="text" placeholder="Search" value="" aria-label="Search">
      </div>
    </form>
  </div>

</nav>