  {{> navbar }}
    <div class="jumbotron mx-auto jumbotron-fluid">
      <h1 class="display-4">Drink Menu</h1>
      </div>
  <container class="text-center">
        {{#each data}}
                {{this.drink_name}}
                {{this.price}}
                {{this.num_sold}}
        {{/each}}

<div>
<container>
<button id="export" class="center-block btn-lg btn btn-warning">
  <span style="font-size:larger;">Export Data</span></button>
</container>
</div>
</container>