    {{!-- <div class="container hidden">
		<div class="row top-30">
      <div class="col-md-2 col-sm-2">
        <a class="btn btn-light" href="/blog">Go to Blog</a>
      </div>
      <div class="col-md-2 col-sm-2">
        <a class="btn btn-light" href="/authors">Manage Authors</a>
      </div>
    </div>
		<div class="row">
		
	</div> --}}
<table>
    <tbody>
        {{#each data}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.type}}</td>
                <td>{{this.price_bottle}}</td>
                <td>{{this.quantity_bottles}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>

        <script src="js/inventory.js" type="text/javascript"></script>
