  {{> navbar }}

  <container class="text-center">
      <div class="jumbotron mx-auto jumbotron-fluid">
          <h1 class="display-4">Add New Drink</h1>
      </div>
      <div class="row">
          <div class="col-md-3 offset-md-3 center_div">
              <form id="newDrink">
                  <div class="form-group">
                      <label for="name">Drink Name:</label>
                      <input placeholder="Tequila Sunrise, White Russian, ect." type="text" class="form-control"
                          id="name">
                      <label for="price">Drink Price:</label>
                      <input type="number" min="0" step=".01" class="form-control"
                          id="price">
                      <br />
                          </br>
                                            <label for="pic">Pic URL:</label>
                      <input class="form-control" id="pic">
                          </br>

                      <br />
                      <button type="submit" class="mt-5 center-block btn-lg btn btn-warning submit">Submit</button>
                  </div>
              </form>
          </div>
      </div>
  </container>
  <script src="../js/addDrink.js" type="text/javascript"></script>