  {{> navbar }}
  <container class="text-center">
    <div class="jumbotron mx-auto jumbotron-fluid">
      <h1 class="display-4">Orders</h1>
      </div>
<table id="table" class="table-bordered table-condensed mx-auto p-3 m-5 table-large">
    <tbody>
      <thead>
        <tr>
          <th scope="col">Order #</th>
          <th scope="col">Total</th>
          <th scope="col">Order Time</th>
          <th scope="col">Details</th>
        </tr>
      </thead>
        {{#each data}}
                <td>{{this.id}}</td>
                <td>{{this.total_price}}</td>
                <td>{{this.createdAt}}</td>
                <td><button onclick="window.location.href = './orders/{{this.id}}';" type="submit" class="center-block btn-lg btn btn-warning submit">Details</button></td>
            </tr>
        {{/each}}
    </tbody>
</table>
<div>
<container>
<button id="export" class="center-block btn-lg btn btn-warning">
  <span style="font-size:larger;">Export Data</span></button>
</container>
</div>
</container>