{{> navbar }}

<div class="container">
  <div style="background:transparent !important" class="jumbotron" id="jumbo">
    <h1 class="display-4">AIS Cafe</h1>
    <p class="lead">Streamline your bar inventory.</p>
  </div>
</div>

<div class="container">
  <div class="row justify-content-between">
    <div class="col-sm-3 bg-white border border-danger text-dark" id="currentOrder">

    </div>
    <div class="col-sm-8">
      <div class="card-deck">
        {{#each drinks}}
          {{> drink}}
          {{#ifThird @index}}
            <div class="w-100"></div>
          {{/ifThird}}
        {{/each}}
      </div>
    </div>
  </div>
</div>

<script src="./js/pos.js"></script>