{{> navbar }}

<div class = "container">



<div style="background:transparent !important" class="jumbotron" id = "jumbo">
  <h1 class="display-4">AIS Inventory</h1>
  <p class="lead">Streamline your bar inventory.</p>
</div>

</div>

<div class = "container">
<div class="row">
  <div class = "col-sm-3">  
        <div class="card" style="width: 18rem;">
            <img class="card-img-top"
            src="https://253qv1sx4ey389p9wtpp9sj0-wpengine.netdna-ssl.com/wp-content/uploads/2017/05/whiskey-tasting-1-700x461.jpg" alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">Whiskey</h5>
            <div class="dropdown">
                <button class="btn btn-danger dropdown-toggle mr-4" type="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">Selection</button>
            
                <div class="dropdown-menu">
                <a class="dropdown-item makers" href="#">Makers Mark - $9
                    <img id="makers" src="https://images.freshop.com/00085246139424/1f683e934a463a21eb58a1ae540d4e08_medium.png">
                </a>
                
                
                <a class="dropdown-item jack" href="#">Jack Daniels - $8
                    <img id = "jack" src = "https://images.freshop.com/00082184090428/5b12f5f0858763d1b45374d9cee17e72_medium.png">
                </a>
                
                <a class="dropdown-item knob" href="#">Knob Creek - $9
                    <img id = "knob" src = "https://images.freshop.com/00080686016106/805f00df825526b66d4c02fa126cef3f_medium.png">
                </a>
                
                <a class="dropdown-item woodfords" href="#">Woodfords Reserve - $12
                    <img id = "woodfords" src = "https://images.freshop.com/00081128001506/f0b86f8c23afbbe92cf10ee6f30e884f_medium.png">
                </a>
                
                <a class="dropdown-item turkey" href="#">Wild Turkey - $10
                    <img id = "turkey" src = "https://images.freshop.com/2035501/331d4c12b05c918823de7a1f473805ff_medium.png">
                </a>
                
                </div>
            </div>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top"
                src="https://cdn.shopify.com/s/files/1/1780/9427/products/bombay-gin-sapphire-3_530x.jpg?v=1505136368"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Gin</h5>
                <div class = "dropdown">
                <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                            content.</p> -->
                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                <button class="btn btn-danger dropdown-toggle mr-4" type="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">Selection</button>
    
                <div class="dropdown-menu">
                    <a class="dropdown-item citadelle" href="#">Citadelle - $8
                        <img id = "citadelle" src = "https://images.freshop.com/2011600/2a4783353fd7509a561a3f4832047d92_medium.png">
                    </a>
                    <a class="dropdown-item tanqueray" href="#">Tanqueray - $9
                        <img id = "tanqueray" src = "https://www.gerrys.uk.com/content/images/thumbs/0000889_tanqueray-gin-431-70cl-offer_256.png">
                    </a>
                    <a class="dropdown-item bombay" href="#">Bombay Sapphire $11
                        <img id = "bombay" src = "https://images.freshop.com/2005016/a4c904c14947085c573d2be26dd47e05_medium.png">
                    </a>
                    <a class="dropdown-item hendricks" href="#">Hendricks - $12
                        <img id = "hendricks" src = "https://images.freshop.com/00083664990436/c431dbc3c8fc1bfcd602093bf80672c8_medium.png">
                    </a>
                    <a class="dropdown-item botanist" href="#">The Botanist - $14
                        <img id = "botanist" src = "https://images.freshop.com/00087236700362/6a3511826d1b2d5c656f56023c8f9bb7_medium.png">
                    </a>
                    <!-- <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a> -->
                </div>
            </div>
            </div>
        </div>
    </div>

        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://www.birchbox.com/images/uploads/Served_Neat_Tequila_700x400.jpg"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Tequila</h5>
                    <div class = "dropdown">
                    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                                    content.</p> -->
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    <button class="btn btn-danger dropdown-toggle mr-4" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Selection</button>
        
                    <div class="dropdown-menu">
                        <a class="dropdown-item hornitos" href="#">Hornitos - $8
                            <img id = "hornitos" src = "https://www.totalwine.com/media/sys_master/twmmedia/h08/hd4/10531437248542.png">
                        </a>
                        <a class="dropdown-item espolon" href="#">Espolon - $9
                            <img id = "espolon" src = "https://www.totalwine.com/media/sys_master/twmmedia/h9c/h1f/8798354767902.png">
                        </a>
                        <a class="dropdown-item don" href="#">Don Julio - $14
                            <img id = "don" src = "https://www.totalwine.com/media/sys_master/twmmedia/h0b/h3d/11698313789470.png">
                        </a>
                        <a class="dropdown-item eighteen" href="#">1800 - $16
                            <img id = "eighteen" src = "https://products2.imgix.drizly.com/ci-1800-reserva-silver-c7e33c8a54fda809.png?auto=format%2Ccompress&fm=jpeg&q=20">
                        </a>
                        <a class="dropdown-item casa" href="#">Casa Amigos - $18
                            <img id = "casa" src = "https://cdn11.bigcommerce.com/s-e6b77/products/18527/images/18885/casamigos-blanco-tequila__09278.1496361546.220.220.jpg?c=2">
                        </a>
                        <!-- <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Separated link</a> -->
                    </div>
                    </div>
                </div>
            </div>
        </div>

     <div class="col-sm-3">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://www.absolut.com/globalassets/images/products/absolut-vodka/absolut-vodka.jpg"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Vodka</h5>
                <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                                content.</p> -->
                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                <button class="btn btn-danger dropdown-toggle mr-4" type="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">Selection</button>
    
                <div class="dropdown-menu">
                    <a class="dropdown-item taka" href="#">Taka - $5
                        <img id = "taka" src = "https://www.totalwine.com/media/sys_master/twmmedia/h10/h8a/10678845079582.png">
                    </a>
                    <a class="dropdown-item titos" href="#">Titos - $7
                        <img id = "titos" src = "https://www.totalwine.com/media/sys_master/twmmedia/h2c/hfb/8798354178078.png">
                    </a>
                    <a class="dropdown-item ciroc" href="#">Ciroc - $10
                        <img id = "ciroc" src = "https://www.totalwine.com/media/sys_master/twmmedia/h02/h4f/11698303762462.png">
                    </a>
                    <a class="dropdown-item goose" href="#">Grey Goose - $13
                        <img id = "goose" src = "https://www.totalwine.com/media/sys_master/twmmedia/h29/h37/9977682231326.png">
                    </a>
                    <a class="dropdown-item k1" href="#">Ketel One - $12
                        <img id = "k1" src = "https://www.totalwine.com/media/sys_master/twmmedia/h07/h7e/8810500063262.png">
                    </a>
                    <!-- <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Separated link</a> -->
                </div>
            </div>
        </div>
    </div>    

</div>


  <!-- /Start your project here-->

  <!-- SCRIPTS -->
  {{!-- <!-- JQuery -->
  <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="js/mdb.min.js"></script> --}}