<div>
  Barcode scanner
</div>
<div class="container">
  <form action="">
    <div class="form-group">
      <label for="bottleName">Name</label>
      <input type="text" class="form-control" id="bottleName" placeholder="Product Name">
    </div>
    <div class="input-group">
      <div class="input-group-prepend">
        <button class="btn btn-warning" id="less">Less</button>
      </div>
      <input type="text" class="form-control text-center" value="0">
      <div class="input-group-append">
        <button class="btn btn-success" id="more">More</button>
      </div>
    </div>
  </form>
</div>

<script src="./js/scanner.js"></script>