body {
 background-image: url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/E8EAEZ4/cu-empty-chair-in-bar-blur-patrons-in-the-background-1080p_nkuozp-t__F0000.png);
 background-color: rgba(0, 0, 0, 0.1);
 color: white;
font-family: 'Teko', sans-serif;
}

.navbar-brand {
    padding: 0px;
}

.navbar-brand>img {
    height: 10%;
    padding: 15px;
    width: auto;
}

#makers {
    display: none;
}

#jack {
    display: none;
}

#knob {
    display: none;
}

#woodfords {
    display: none;
}

#turkey {
    display:none;
}

#citadelle {
    display: none;
}

#tanqueray {
    display: none;
}

#bombay {
    display: none;
}

#hendricks {
    display: none;
}

#botanist {
    display: none;
}

#hornitos {
    display: none;
}

#espolon {
    display: none;
}

#don {
    display: none;
}

#eighteen {
    display: none;
}

#casa {
    display: none;
}

#taka {
    display: none;
}

#titos {
    display: none;
}

#ciroc {
    display: none;
}

#goose {
    display: none;
}

#k1 {
    display: none;
}

.makers:hover #makers {
    display: block;
}

.jack:hover #jack {
    display: block;
}

.knob:hover #knob {
    display: block;
}

.woodfords:hover #woodfords {
    display: block;
}

.turkey:hover #turkey {
    display: block;
}

.citadelle:hover #citadelle {
    display: block;
}

.tanqueray:hover #tanqueray {
    display: block;
}

.bombay:hover #bombay {
    display: block;
}

.hendricks:hover #hendricks {
    display: block;
}

.botanist:hover #botanist {
    display: block;
}

.hornitos:hover #hornitos {
    display: block;
}

.espolon:hover #espolon {
    display: block;
}

.don:hover #don {
    display: block;
}

.eighteen:hover #eighteen {
    display: block;
}

.casa:hover #casa {
    display: block;
}

.taka:hover #taka {
    display: block;
}

.titos:hover #titos {
    display: block;
}

.ciroc:hover #ciroc {
    display: block;
}

.goose:hover #goose {
    display: block;
}

.k1:hover #k1 {
    display: block;
}

.card {
    background-color: black;
}

.card-body {
    text-align: center;
}

h1 {
    text-align: center;
    text-shadow:0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

.lead {
    text-align: center;
}